parser.out
parsetab.py
__pycache__
arm_
# .vscode
**/*.pyc
*.tmp
a.out
similarityenv/*
# codegen-generator/targets/arm/rosette_test/*.c
**/build/
backends/*
**/llvm-build/
**/llvm-project/
tmp.txt
*.~*~
tmp/
.vscode/launch.json
