parser.out
parsetab.py
__pycache__
arm_
# .vscode
**/*.pyc
*.tmp
a.out
# codegen-generator/targets/arm/rosette_test/*.c
**/build/
backends/*
**/llvm-build/
**/llvm-project/
tmp.txt
*.~*~
tmp/
.vscode/launch.json
*.bak
venv/
timing/
*.pyc
frontends/halide/llvm-build/
frontends/halide/llvm-project/
similarityenv/
